.PositionLabel {
    font-family: monospace;
    font-size: 20pt;
    border: 5px inset gray;
    background-color: lightgreen;
}
.ZeroButton {
    border: 5px ridge deeppink;
    border-radius: 5px;
    background-color: gray;
}
.CycleStartButton {
    border: 5px ridge green;
    border-radius: 5px;
    background-color: lightgreen;
}
.FeedHoldButton {
    border: 5px ridge yellow;
    border-radius: 5px;
    background-color: #FFFF80;
}
.ResetButton {
    border: 5px ridge darkred;
    border-radius: 5px;
    background-color: #FF8080;
}
.SpindleStopButton {
    border: 5px ridge darkred;
    border-radius: 5px;
    background-color: red;
}
.StatusRow {
    font-family: monospace;
}