button {
    margin: 2px;
}
.PositionLabel {
    font-family: monospace;
    font-size: 20pt;
    border: 5px inset gray;
    background-color: lightgreen;
}
.RefAllHomeButton {
}
.ZeroButton {
    margin: 5px;
}
.CycleStartButton {
    background-color: lightgreen;
}
.CycleStartButton:hover {
    background-color: green;
}
.FeedHoldButton {
    background-color: lightcoral;
}
.FeedHoldButton:hover {
    background-color: coral;
}
.ResetButton {
    background-color: red;
}
.ResetButton:hover {
    background-color: darkred;
}
.SpindleStopButton {
    background-color: red;
}
.SpindleStopButton:hover {
    background-color: darkred;
}
.StatusRow {
    font-family: monospace;
}